.partial-background{
    position: relative;

}

.partial-background::after{
    content: 'hfdhdfj';
    position: absolute;
    
    height: 469px;
    top: 0;
    right: 0;
    width: 19%;

    background: #008080;
    filter: blur(105px);
}