.background-nav{
    fill: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, rgba(0, 128, 128, 0.70) 0%, rgba(0, 128, 128, 0.00) 100%);


opacity: 0.97;



}

.dropdownMenu{
    position: absolute;
    transform: translateY(39px);
    background-color: #F9F9FE;
  
    color: #A8A3B6;
     width: 150px;
     text-align: start;
     
 
 
    
}
.dropdownMenu li{
    border: 1px solid rgb(229, 231, 235);
    padding:12px ;
    border-radius: 3px;

}
